<nav th:fragment="nav_bar" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
		<img th:src="@{/imgs/Lujos_Occidente.png}" alt="Logo"/>
	</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
        	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Comercial
          	</a>
        	<ul class="dropdown-menu">
				<li><a class="nav-link" href="/visitas/listar">Visitas</a></li>
	          <li><a class="nav-link" href="/visitas/nueva">Registrar visita</a></li>
        	</ul>
        </li>
        <li class="nav-item dropdown" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administracion
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/clientes/listar">Clientes</a></li>
            <li><a class="dropdown-item" href="/vendedores/listar">Vendedores</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/usuarios/listar">Usuarios</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex me-2">
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div id="navbar-nav" >
					<a class="navbar-brand text_color_white" >Bienvenido,  <span sec:authentication="principal.fullName"></span></a>				
					<a sec:authorize="isAuthenticated()" class="navbar-brand text_color" th:href="@{/logout}">Cerrar sesi&oacute;n</a>
				</div>							
			</div>
	 </div>
    </div>
  </div>
</nav>